<!-- Start your code here -->
<form method="POST" action="/students/add">
    <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>First Name:</label>
                    <input class="form-control" type="text" name="firstName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Last Name:</label>
                    <input class="form-control" type="text" name="lastName" />
                </div>
            </div>
        </div>
        <!-- ... Other form fields ... -->
    </fieldset>
    <hr />
    <input type="submit" class="btn btn-primary float-right" value="Add Student" /><br /><br /><br />
</form>
<!-- End your code here -->
