<div class="container">
   <div class="row">
       <!-- Start your code here -->
       <h1>Welcome to my website</h1>
       <h2>Introduction</h2>
       <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: All Students, Students by Course, A Single Student By Student Number, All Managers, and All Courses.</p>
       <p>Click the following links to navigate:</p>
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/htmlDemo">HTML Demo</a></li>
           <li><a href="/student/2">Student by Student Number</a></li>
           <li><a href="/students?course=3">Students by Course</a></li>
       </ul>
       <h2>HTML5</h2>
       <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web.</p>
       <!-- End your code here  -->
   </div>
</div>
